    <style>
        .nav-image {
            height: 35px;
        }
    </style>


    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="/"><img class="nav-image mb-2" src="/favicon.ico" />E11.culture</a>

            <!-- Toggle button for mobile -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links with dropdown -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <!-- Regular nav item -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/upload">Upload</a>
                    </li>


                    <!-- Regular nav item -->
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>

                    <!-- Regular nav item -->

                    <li class="nav-item">
                        <a class="nav-link" href="/#Image-start">Images</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>

                <!-- Right-aligned items -->
                <ul class="navbar-nav ms-auto">
                    <a class="nav-link" href="/auth/login" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    </a>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/login">Account</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>