<style>
    .gallery-image {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
    }
</style>


<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include('partials/head.ejs',{title:'Gallery'}) %>

<body>

    <h1>Directory Contents</h1>
    <template id="my-template">
        <div class="user-card">
            <h3></h3>
            <span></span>
        </div>
    </template>

    <div id="container"></div>
</body>



<script>
    var data;
    const template = document.getElementById('my-template');
    const container = document.getElementById('container');
    fetch('/upload-log-read')
        .then(res => res.json())
        .then(d => {
            for (const key in d) {
                const clone = template.content.cloneNode(true);
                clone.querySelector('h3').textContent = d[key].caption;

                d[key].paths.forEach(element => {
                    const img = document.createElement('img');
                    img.src = element;
                    img.classList.add('gallery-image')
                    clone.querySelector('span').appendChild(img);
                })


                container.appendChild(clone);
            }

        })
</script>